:root {
    --blue: #14213D;
    --white: #fff;
    --orange: #F6E05E;
    --yellow: #ecc94b;
    --grey: #d5d5d5;
    --black: #000;
}



.card {
    border: 2px solid var(--grey);
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    /* box-shadow: 0 0 4px black,
                0 0 9px black; */
}

.button_div{
    display: flex;
    flex-wrap: wrap ;
    width: 100%;
    margin-top: 2rem;
}

.button_div input[type="button"] {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-left: 1.55%;
    margin-right: 1.55%;
    /* margin-bottom: 5%; */
    /* width: calc(100% - 20px); */
    flex:1 1 1;
    width: 30%;
    border: none;
    background: var(--orange);
    border-radius: 6px;
    transition: 0.3s ease;
}



.button_div input[type="button"]:hover {
    cursor: pointer;
    background-color: var(--yellow);
    transform: scale(1.01);
    box-shadow: 0 0 2px #999;
}

.card_container {
    display: flex;
    transition: 0.5s ease;
    width: 150%;
}

.card_container:hover {
    cursor: pointer;
    transform: scale(1.01);
    
}

.class_name {
    margin: 0;
    padding: 0;
    /* width: 80%; */
    color: var(--white);
    background: var(--blue);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.teacher_name {
    padding-left: 10px;
    margin-top: -25px;
    /* color: var(--white); */
}

.teacher_img {
    width: 90px;
    height: 70px;
    background: transparent;
    border-radius: 50%;
    float: right;
    margin-top: -80px;
    /* margin-right: 10px; */
}

.teacher_img::before {
    content: ' ';
    position: absolute;
    background-image: url("../../assets/profile_pic.svg");
}