.addclass button{
    color: white;
    background-color: #14213D;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* margin-top: 1rem;
    margin-top: 1rem; */
    padding: 0.75rem;
    border-radius: 1.25rem ;
}

.classes {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}