footer {
    background-color: var(--off-black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

footer .content {
    text-decoration: none;
    margin: 0.5rem 0rem;
    color: inherit;
}

footer a:hover {
    color: #d1d1d1;
}